<div class="main">
    <div class="source-exchange">
        <input type="text" #searchValueModel="ngModel" ngModel placeholder="Введите url">
    </div>
    <ul class="exchange-list">
        <li class="exchange-list__item" *ngFor="let source of sources">
            <span class="item__bage" [ngClass]="{active: source.state === 'active', failed: source.state === 'failed'}"></span>
            <span class="item__name">{{source.name}}</span>
        </li>
    </ul>
    <div class="current-exchange">Текущий курс евро: {{currentExchange}}</div>
</div>